:host {
    >div {
        >* {
            padding: 1rem;
        }
    }

    .hidden {
        display: none;
    }

    .title-area {
        h1 {
            margin-bottom: 0px;
        }

        h2 {
            margin-bottom: 8px;
        }
    }

    .form-card-container,
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-auto-rows: 1fr;
        gap: 1rem;

        .mat-card {
            display: flex;
            flex-direction: column;

            &.d-none {
                display: none;
            }
    
            &.d-opacity {
                opacity: 0.4;
            }

            .mat-card-content {
                flex: 1 1 100%;
            }

            .mat-card-actions {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
            }
        }
    }

    .form-card-container {
        white-space: pre-wrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .mat-card-subtitle {
            flex: 1 1 100%;
        }
    }

    .action-items {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}